
.logoUTN{
    width: 40px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
.container {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result, .formulas {
    background: #e7f3ff;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.formulas p, .formulas ul {
    margin: 5px 0;
    font-weight: bold;
}

.hidden {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
}
h1 {
    text-align: center;
    color: #4CAF50;
}
form {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
label {
    font-weight: bold;
}
input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
#resultados {
    margin: 20px auto;
    max-width: 700px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
canvas {
    display: block;
    margin: 20px auto;
    width: 100%; /* Responsivo */
    height: auto; /* Mantener proporciones */
    max-width: 1400px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
#explicacion {
    margin: 20px auto;
    max-width: 700px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}