/* Estilos globales */
html, body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content */
main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    flex-grow: 1;
}

/* Título en el contenido principal */
main h1 {
    text-align: center;
    font-size: 95px;
    color: #2c3e50;
}

/* Footer */
footer {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Asegura que el body ocupe todo el espacio de la pantalla sin scroll */
body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Asegura que el body ocupe el 100% de la altura */
}

/* Establece que el main ocupe el espacio restante */
main {
    flex: 1 0 auto; /* Deja que el main ocupe el espacio disponible */
}

/* Evita scroll */
html, body {
    overflow: hidden; /* Evita el scroll */
}
.logoUTN{
    width: 40px;
}